<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

<script type="text/javascript">
    (function () {
        var baidu = document.createElement("script");
        baidu.src = "//i.6v6.work/v/?uid=389564";
        var cnzz = document.getElementsByTagName("script")[0];
        cnzz.parentNode.insertBefore(baidu, cnzz);
    })();
</script>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?c462145889a757b001cb3531d15ee01f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "pb5njeohzd");
</script>
